@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
background-image:linear-gradient(to right, #FBE2D0, #D4B99E);
}

main {
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #817160a9;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
     color: #F39209;
     text-align: center;
     text-shadow: 1px 1px 2px #693f05b4;
}

h2 {
color: #125189;
}

p {
    text-align: justify;
}